@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fff;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    header {
      padding: 40px 20px;
    }
  }


header.sticky
{
    padding: 5px 100px;
    border-bottom-style: solid;
    border-bottom-color: #131313f5;
    border-width: 2px;
    
    background-color: #054a7cc7;
    background-color: #00000091;
}

@media only screen and (max-width: 600px) {
    header.sticky {
      padding: 5px 20px;
    }
  }

header .logo
{
    position: relative;
    font-weight: 700px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
    transition: 0.6s;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}


header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}


header ul li
{
    position: relative;
    list-style: none;

}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    header ul li a {
        font-size: x-small;
        margin: 0 5px;
    }
  }

  @media only screen and (max-width: 600px) {
    header ul {
        font-size: x-small;
        margin: 0 30px;
    }
  }

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/gb\ milky.jpg);
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .banner {
      background-position: center;
    }
  }


.container{
    padding-top: 1px;
    text-align: center;
    color: #fff;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}

.innercontainer{
    margin: 150px 50px 500px 50px;
    padding-bottom: 200px;
}


.innercontainer p{
    padding-top: 20px;
    font-size: large;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .innercontainer p {
      font-size: small;
    }
  }

.container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin:auto;
    transition: 1.5s;
    text-shadow: -6px 2px 6px rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .container h1 {
      font-size: 36px;
    }
  }



.buttons{
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    justify-content: space-between;
    
}
.buttons button{
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-width: 0 0 4px;
    letter-spacing: .8px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    background-color: #054a7cc7;
    color: #FFFFFF;
    box-sizing: border-box;
    white-space: nowrap;
    border-color: #095f9d;
    margin-right: 12px;
    margin-left: 12px;
    width: 200px;
    text-decoration: none;
    
}

.button1 a{
    text-decoration: none;
    color: inherit;

}

.button2 a{
    text-decoration: none;
    color: inherit;

}

.githubicon, .downloadicon{
   position: relative;
   top: 0.20em;
   left: 0.20em;
}

@media only screen and (max-width: 600px) {
    .githubicon, .downloadicon {
        height: 15px;
        width: 15px;
        left: 0.25em;
    }
  }

@media only screen and (max-width: 600px) {
    .buttons button {
      padding: 8px;
      width: 100px;
      font-size: small;
      background-color: #054a7cfd;
      border-color: #095f9d;
      background-color: #095f9dbb;
      border-color: #054a7cd8;
    }
  }


.about{
    background-color: #ffffff;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .about {
      background-color: lightblue;
    }
  }

